.table{
    border: 1px solid black;
    border-collapse: collapse;
}

.th{
    font-size: 25px;
    font: bold;
    border: 1px solid black;
    min-width: 15vh;
}

.tr{
    border: 1px solid black;
}

.tr:nth-child(even) {background: #CCC}
.tr:nth-child(odd) {background: #FFF}

.tr:hover{
    background: #424c4d;
    color: white;
}


.td{
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
}
